# Maven
target/

# IntelliJ
*.iml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/

# Robot Framework outputs
output.xml
log.html
report.html
report/
robot-tests/log.html
robot-tests/output.xml
robot-tests/report.html

# Test outputs
test-output/

# Screenshots avulsas
selenium-screenshot-*.png

# OS
.DS_Store
